<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room Reservation || Admin</title>
    <link rel="stylesheet" href="../public/css/adminAttendenceAccountDel.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/homepage.css">
    <link rel="stylesheet" href="../public/js/bootstrap.bundle.min.js">
</head>
<body>
    <nav class="navbar navbar-expand-lg navBody fixed-top">
        <div class="container">
          <a class="navbar-brand textColor" href="#">UIU Game Room Reservation System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
              <li class="nav-item">
                <a class="nav-link active textColor" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active textColor" aria-current="page" href="#">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textColor" href="#">Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textColor" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 


      <div class="container d-flex mt-5 formTopMargin">
            <div>
                <form class="d-flex mt-5 formTopMargin mb-5" role="search">
                    <input class="form-control me-4 date" type="search" placeholder="Enter Attendance ID/name" aria-label="Search">
                    <button class="btn btn-color" type="submit">Search</button>
                </form>
            </div>
      </div>
        </container>

        <div class="container formTopMargin text1 mb-4">
            <div class="text-left mt-3 m-5">
              
                      <h6><b>Name: Shifty Muhammad Ismam</b></h6>
                      <h6><b>Attendance ID: A002</b></h6>
                      <h6><b>E-mail: sismam002@uiu.ac.bd</b></h6>
                      <h6><b>Mobile: 0178221400</b></h6>
            </div>
              <div>
                      <button class="btn btn-color-up " type="submit">Update</button>
                      <button class="btn btn-color-del" type="submit">Delete</button>
              </div>
          </div>
        </container>

    </container>
</body>
</html>