<%-include('adminNavbar.ejs')%>


  <div class="container" >
    <div>
      <h5 class="h1-cl d-flex formTopMargin mt-5 mb-3 ">Filter History</h5>
    </div>
    <div>
      <form class="d-flex" role="search">
        <input type="date" class="form-control me-4 date " type="search" placeholder="select date" aria-label="Search">
        <select class="form-select board form-control me-4" aria-label="Default select example">
          <option value="" disabled selected hidden>Select Game</option>
          <option value="1">Table Tennis</option>
          <option value="2">Chess</option>
          <option value="3">Carrom</option>
        </select>
        <button class="btn btn-color" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="container text1 rounded w-50">
    <div class="text-left mt-5 text2 px-4 py-3">
      <h6><b>Schedule Token : T100023A</b></h6>
      <h6><b>Date : 25-07-2023</b></h6>
      <h6><b>Game : Table Tennis</b></h6>
      <h6><b>Board : 02</b></h6>
      <h6><b>Schedule : 12:00 pm - 12:30 pm</b></h6>
      <h6><b>Status : Attended</b></h6>
    </div>
  </div>

</body>
</html>