<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room || Admin</title>
    <link rel="icon" href="/images/uiuLogo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminHomePage.css">
    <script src="js/bootstrap.bundle.min.js" defer></script>
</head>


<body>

    <%-include('adminNavbar.ejs')%>

        <div class="container">
            <div class="d-flex justify-content-center">
                <form class="d-flex mt-5 formTopMargin w-50" role="search">
                    <input class="form-control me-2 " type="search" placeholder="Enter Student ID" aria-label="Search">
                    <button class="btn btn-color" type="submit">Search</button>
                </form>
            </div>
        </div>


        <div class="container formTopMargin">
            <div class="text-left">
                <div class="row">
                    <div class="col-lg-7 col-12">
                        <p class="mb-3"><b>Upcoming Schedule</b></p>
                        <div class="schedule row bg-body-tertiary p-3 rounded-2">
                            <div class="col-lg-8 col-12 ">
                                <h6><b>Schedule Token: T100023B</b></h6>
                                <h6><b>Date: 25-08-2023</b></h6>
                                <h6><b>Game: Table Tennis</b></h6>
                                <h6><b>Board: 02</b></h6>
                                <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
                            </div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-lg-end">
                                <h6 class="text-secondary"><b>2 days to go</b></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="mt-3"><b>Last Month Schedule</b></p>
                            </div>
                            <div class="col text-lg-end text-end">
                                <h6 class="mt-3"><a href="#">See All</a></h6>
                            </div>
                        </div>
                        <div class="schedule row bg-body-tertiary p-3 rounded-2">
                            <div class="col-lg-8 col-12 ">
                                <h6><b>Schedule Token: G210032E</b></h6>
                                <h6><b>Date: 18-08-2023</b></h6>
                                <h6><b>Game: Table Tennis</b></h6>
                                <h6><b>Board: 03</b></h6>
                                <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12 p-5">
                        <div class="row">
                            <div class="card text-lg-end rounded-circle">
                                <img src="../public/images/BG.png" class="rounded-circle" width="288" height="288">
                            </div>
                        </div>
                        <div class="row">
                            <h5><b>Name: MD Sakib Al Hasan</b></h5>
                            <h5><b>Email: sahasan211000@uiu.ac.bd</b></h5>
                            <h5><b>ID: 011211000</b></h5>
                            <h5><b>Status: Active</b></h5>
                            <div class="col mt-2">
                                <button type="button" class="btn btn-danger">Ban</button>
                            </div>
                            <div class="col mt-2">
                                <button type="button" class="btn btn-success">Unban</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>