<%-include('adminNavbar.ejs')%>

  <div class="container d-flex mt-5 formTopMargin justify-content-center">
    <div class="w-50">
      <form class="d-flex mb-5 ">
        <input class="form-control me-4 date id" type="text" placeholder="Enter Attendance ID" aria-label="Search" name="id" required>
        <button class="btn btn-color search" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center my-4 section"></div>

  <!-- <div class="container text11 mb-4 rounded">
    <div class="text-left mt-3 m-5">
      <h6><b>Name: Shifty Muhammad Ismam</b></h6>
      <h6><b>Attendance ID: A002</b></h6>
      <h6><b>E-mail: sismam002@uiu.ac.bd</b></h6>
      <h6><b>Mobile: 0178221400</b></h6>
    </div>
    <div class="d-flex justify-content-end">
      <a href="/adminAttendantUpdate" class="btn btn-color-up mb-3 me-3">Update</a>
      <button class="btn btn-color-del mb-3" type="submit">Delete</button>
    </div>
  </div> -->

</body>
</html>