<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room || Admin</title>
    <link rel="icon" href="../public/images/uiuLogo.png">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/AdminAttendenceAccountCreate1.css">
    <script src="../public/js/bootstrap.min.js" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navBody fixed-top">
        <div class="container">
          <a class="navbar-brand textColor" href="#">UIU Game Room Reservation System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
              <li class="nav-item">
                <a class="nav-link active textColor" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active textColor" aria-current="page" href="#">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textColor" href="#">Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textColor" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <div class="container">
        <h3 class="font-weight-bold fromTopmargin mt-5 py-3">Create Attendence Account</h3>
        <form>
            <div class="form-row">
                <div class="">
                    <input type="Name" placeholder="Enter Attendence Name" class="form-control  my-4 ">
                </div>
            </div>
            <div class="form-row">
                <div class="">
                    <input type="ID" placeholder="Enter Attendence ID" class="form-control my-4">
                </div>
            </div>
            <div class="form-row">
                <div class="">
                    <input type="Email" placeholder="Enter Attendence Email" class="form-control  my-4 ">
                </div>
            </div>
            <div class="form-row">
                <div class="">
                    <input type="Mobile Number" placeholder="Enter Attendence Mobile Number" class="form-control  my-4 ">
                </div>
            </div>
            <div class="form-row">
                <div class="">
                    <input type="password" placeholder="Enter password" class="form-control  my-4 ">
                </div>
            </div>
            <div class="form-row">
                <div class="">
                    <input type="password Again" placeholder="Enter password Again" class="form-control  my-4 ">
                </div>
            </div>

        
            <div class="form-row ">
                
                <button class="btn btn-Color"type="submit">SingUp</button>
            </div>
        
               
               
            
        </form>
    </div>
</div>
    
</body>
</html>