<%-include('adminNavbar.ejs')%>

  <div class="container d-flex flex-column align-items-center mt-3">
    <h3 class="font-weight-bold fromTopmargin mt-5 headText">Create Attendance Account</h3>
    <form class="d-flex flex-column justify-content-center w-50">
      <div class="form-row">
        <div class="">
          <input type="text" placeholder="Enter Attendance Name" class="form-control  my-4 ">
        </div>
      </div>
      <div class="form-row">
        <div class="">
          <input type="text" placeholder="Enter Attendance ID" class="form-control my-4">
        </div>
      </div>
      <div class="form-row">
        <div class="">
          <input type="email" placeholder="Enter Attendance Email" class="form-control  my-4 ">
        </div>
      </div>
      <div class="form-row">
        <div class="">
          <input type="text" placeholder="Enter Attendance Mobile Number" class="form-control  my-4 ">
        </div>
      </div>
      <div class="form-row">
        <div class="">
          <input type="password" placeholder="Enter password" class="form-control  my-4 ">
        </div>
      </div>
      <div class="form-row">
        <div class="">
          <input type="password" placeholder="Enter password Again" class="form-control  my-4 ">
        </div>
      </div>
      <div class="form-row d-flex justify-content-center">
        <button class="btn btn-color w-50" type="submit">SingUp</button>
      </div>
    </form>
  </div>

</body>
</html>