<%-include('adminNavbar.ejs')%>

  <div class="container">
    <div class="d-flex justify-content-center">
      <form class="d-flex mt-5 formTopMargin w-50" role="search">
        <input class="form-control me-2 " type="search" placeholder="Enter Student ID" aria-label="Search">
        <button class="btn btn-color"type="submit">Search</button>
      </form>
    </div>
    
  </div>
   
</body>
</html>
