<%-include('attendanceNavbar.ejs')%>

  <div class="container mt-5 formTopMargin">
    <div>
      <form class="d-flex">
        <input type="date" class="form-control me-4 date " type="search" placeholder="Select Date" aria-label="Search">
        <select class="form-select board form-control me-4" aria-label="Default select example">
          <option value="" disabled selected hidden>Select Game</option>
          <option value="Table Tennis">Table Tennis</option>
          <option value="Chess">Chess</option>
          <option value="Carrom">Carrom</option>
        </select>
        <button class="btn btn-color attendanceSearch" type="button">Search</button>
      </form>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center my-4 section6"></div>
  </div>

</body>
</html>