<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room || Attendence</title>
    <link rel="icon" href="../public/images/uiuLogo.png">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/AttendenceDistributionPage.css">
    <script src="../public/js/bootstrap.min.js" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navBody fixed-top">
        <div class="container">
          <a class="navbar-brand textColor" href="#">UIU Game Room Reservation System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
              <li class="nav-item">
                <a class="nav-link active textColor" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textColor" href="#">Distribution</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textColor" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    </div>
    <br>
    <br>

    <div class = "container">

             <div>
                <form class="d-flex mt-5" role="search">
                    <input type="date" class="form-control me-4 date " type="search" placeholder="select date" aria-label="Search">
    
                    <select class="form-select Game form-control me-4" aria-label="Default select example">
                        <option selected>Select Game</option>
                        <option value="1">Table Tennis</option>
                        <option value="2">Carrom</option>
                        <option value="3">Chess</option>
                    </select>
    
                    <button class="btn btn-color"type="submit">Search</button>
            </div>
        </div>
    </container>

  <div class="container formTopMargin text1 ">
    <div class="text-left mt-5">
      
              <h6><b>Schedule Token: T100023A</b></h6>
              <h6><b>Student ID:011211000</b></h6>
              <h6><b>Date: 25-08-2023</b></h6>
              <h6><b>Game: Table Tennis</b></h6>
              <h6><b>Board: 02</b></h6>
              <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
              <h6><b>Status</b></h6>
            </div>
            
            
        
          <div class="schedule row bg-body-tertiary rounded-2">
            <div class="text-left mt-5 text2">
              <h6><b>Schedule Token: T100023A</b></h6>
              <h6><b>Student ID:011211000</b></h6>
              <h6><b>Date: 25-08-2023</b></h6>
              <h6><b>Game: Table Tennis</b></h6>
              <h6><b>Board: 02</b></h6>
              <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
              <h6><b>Status</b></h6>
              
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</container>
    
    



    
</body>
</html>