<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attadence Home Page</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <script src="../public/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
   


    <nav class="navbar navbar" style="background-color: #FD7E14;">
      
          <a class="navbar-brand"  style="color: #FFFFFF;"  href="#">UIU Game Room Reservation System</a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="color: #FFFFFF;" href="#">Home</a>
            </li>

            </li><div class="dropdown">
                <a class="btn btn dropdown-toggle" style="background-color: #FD7E14;color: #FFFFFF" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Distrubution
                </a>
              
                <ul class="dropdown-menu">
                  <select>
                    <option value="1">
                    <option value ="2">
                  </select>
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            
            <li class="nav-item">
                <a class="nav-link"  style="color: #FFFFFF;" href="#">Logout</a>
              </li>
          </ul>
          </div>
        </div>
      </nav>

      <br>
      <br>
      <br>
      
        <div class="container">

      
      <form class="d-flex" role="search">
        <input class="form-control me-2"  style="background-color: #D9D9D9;"  type="search" placeholder="Enter Token Number or Student ID" aria-label="Search">
        <button class="btn btn success" style="background-color: #FD7E14;color: #FFFFFF" type="submit">Search</button>
      </form>
     
</div>
    
</body>
</html>
