<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room || Attendence</title>
    <link rel="icon" href="../public/images/uiuLogo.png">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/AttendenceHome Page2.css">
    <script src="../public/js/bootstrap.min.js" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navBody fixed-top">
        <div class="container">
          <a class="navbar-brand textColor" href="#">UIU Game Room Reservation System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
              <li class="nav-item">
                <a class="nav-link active textColor" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textColor" href="#">Distribution</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textColor" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="container">
        <div class="d-flex justify-content-center">
          <form class="d-flex mt-5 formTopMargin w-50" role="search">
            <input class="form-control me-2 " type="search" placeholder="Enter Token Number or Student ID" aria-label="Search">
            <button class="btn btn-Color"type="submit">Search</button>
          </form>
        </div>
        
      </div>


      <div class="container formTopMargin text1 ">
        <div class="text-center mt-5">
          
                  <h3><b>Reservation Details</b></h3>
                  <h6><b>Schedule Token: T100023A</b></h6>
                  <h6><b>Student ID:011211000</b></h6>
                  <h6><b>Date: 25-08-2023</b></h6>
                  <h6><b>Game: Table Tennis</b></h6>
                  <h6><b>Board: 02</b></h6>
                  <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
                  <h6><b>Status</select></b></h6> 
                  
                  <select class="form-select Instrument  form-control  me-4 " aria-label="Default select example">
                    <option selected>Not Attended</option>
                    <option value="1">Item Taken</option>
                    <option value="2">Item Given</option>
                
                  
                
                
           
          </div>
        </div>
      </div>
    </container>

    <button class="btn btn-color-up " type="submit">Update</button>
    
    
</body>
</html>