<%-include('attendanceNavbar.ejs')%>

  <div class="container mt-5 formTopMargin">
    <div>
      <form class="d-flex">
        <input type="date" class="form-control me-4 date " type="search" placeholder="Select Date" aria-label="Search">
        <select class="form-select board form-control me-4" aria-label="Default select example">
          <option value="" disabled selected hidden>Select Game</option>
          <option value="Table Tennis">Table Tennis</option>
          <option value="Chess">Chess</option>
          <option value="Carrom">Carrom</option>
        </select>
        <button class="btn btn-color attendanceSearch" type="button">Search</button>
    </div>

    <!-- <div class="d-flex justify-content-center">
      <div class="mt-5 text1 p-4 rounded">
        <h6><b>Schedule Token: T100023A</b></h6>
        <h6><b>Student ID:011211000</b></h6>
        <h6><b>Date: 25-08-2023</b></h6>
        <h6><b>Game: Table Tennis</b></h6>
        <h6><b>Board: 02</b></h6>
        <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
        <h6><b>Status : Attended</b></h6>
      </div>
    </div> -->
  </div>

</body>
</html>