<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room Reservation</title>
    <link rel="icon" href="/images/uiuLogo.png" sizes="16x16">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="/css/homepage.css">
    <script src="/js/login.js" defer></script>
    <script src="/js/signup.js" defer></script>
    <script src="/js/forgetPassword.js" defer></script>
    <script src="/js/resetPassword.js" defer></script>
</head>