<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room Reservation</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <script src="../public/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" href="../public/css/homepage.css">
</head>

<body>
    <div class="container">
        <header class="pt-5 text-center text-md-right mb-5">
            <h2>UIU Game Reservation System</h2>
        </header>

        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="../public/images/BG.png" alt="">
            </div>
            <div class="col-lg-6 form-bg p-5 rounded shadow py-3">
                <h3 class="font-weight-bold py-3">Login</h3>
                <form>
                    <div class="form-row">
                        <div class="">
                            <input type="ID" placeholder="Enter Your Login ID" class="form-control  my-4 ">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="">
                            <input type="password" placeholder="Enter password" class="form-control my-4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="">
                            <button type="button" class="btn1">Login</button>
                        </div>
                    </div>
                       
                       <p class="mt-3">Not signup yet? <a href="#">Sign Up </a></p>
                       <p>Forget password?<a href="#">Reset</a></p>
                       </div>
                    
                </form>
            </div>
        </div>
    </div>

</body>

</html>