<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room Reservation</title>
    <link rel="icon" href="../public/images/uiuLogo.png" sizes="16x16">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <script src="../public/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" href="../public/css/homepage.css">
</head>

<body>
    <div class="container">
        <header class="pt-5 text-center text-md-right mb-5">
            <h2>UIU Game Reservation System</h2>
        </header>

        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="../public/images/BG.png" alt="">
            </div>
            <div class="col-lg-6 form-bg p-5 rounded shadow py-20 mt-3">
                <h3 class="font-weight-bold py-3">Reset Password</h3>
                <form>
                    <div class="form-row mb-5">
                        <div class="">
                            <input type="ID" placeholder="Enter Your New Password" class="form-control  my-3">
                        </div>
                    </div>
                    
                    <div class="form-row mb-5">
                        <div class="">
                            <button type="button" class="btn1"> Set New Password</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</body>

</html>