<%-include('homepageHeader.ejs')%>

<body>
    <div class="container">
        <header class="pt-5 text-center text-md-right mb-5">
            <h2>UIU Game Reservation System</h2>
        </header>

        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="/images/BG.png" alt="">
            </div>
            <div class="col-lg-6 form-bg p-5 rounded shadow py-3">
                <h3 class="font-weight-bold py-3">Signup</h3>
                <form >
                    <div class="form-row">
                        <div class="">
                            <input type="text" placeholder="Enter Your Student ID" class="form-control  my-4 id">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="">
                            <input type="password" placeholder="Enter password" class="form-control my-4 password">
                        </div>
                    </div>
                    <div class="form-button">
                       <div class=" d-flex">
                            <input type="text" placeholder="Enter OTP" class="form-control my-3 me-4 otpInput">
                            <button type="button" class="btn2 my-3 me-2 otp-btn">Send OTP</button>
                        </div>  
                     </div> 
                        <p class="fw-bold fst-italic">**OTP will be sent to your UIU provided email</p>
                        <p class="fw-bold fst-italic">**Don't receive OTP yet? Click <b>Send OTP</b> again</p>
                        
                    <div class="form-row">
                        <div class="">
                            <button type="button" class="btn1 signup-btn"> Signup</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>