<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>UIU Game Room Reservation System</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #FD7E14 ;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">UIU Game Room Reservation System</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reservation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Logout</a>
                </li>
              </ul>
        </div>
    </nav>

    <div class="container text-left">
      <div class="row">
        <div class="col-7">
          Column
        </div>
        <div class="col-5">
          Column
        </div>
      </div>
    </div>



</body>

</html>