<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room || Student</title>
    <link rel="icon" href="../public/images/uiuLogo.png">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/studentHistoryPage.css">
    <script src="../public/js/bootstrap.bundle.min.js" defer></script>
</head>


<body>

    <nav class="navbar navbar-expand-lg navBody fixed-top">
        <div class="container">
            <a class="navbar-brand textColor" href="/studentHome">UIU Game Room Reservation System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link textColor" href="/studentHome">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Reservation
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/studentTableTennis">Table Tennis</a></li>
                            <li><a class="dropdown-item" href="/studentChess">Chess</a></li>
                            <li><a class="dropdown-item" href="/studentCarrom">Carrom</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textColor logout-btn" role="button">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-lg-4 col-12 p-2">
                <div class="schedule bg-body-tertiary p-3 rounded-2 text-center">
                        <h1><b>23</b></h1>
                        <h2><b>TOTAL</b></h2>
                </div>
            </div>

            <div class="col-lg-4 col-12 p-2">
                <div class="schedule bg-body-tertiary p-3 rounded-2 text-center">
                        <h1><b>07</b></h1>
                        <h2><b>THIS MONTH</b></h2>
                </div>
            </div>

            <div class="col-lg-4 col-12 p-2">
                <div class="schedule bg-body-tertiary p-3 rounded-2 text-center">
                        <h1><b>01</b></h1>
                        <h2><b>BANNED</b></h2>
                </div>
            </div>

        </div>
    </div>


    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-12 p-3">
                <h5 class="text-center">All Reservation History</h5>
            </div>
        </div>
        <div class="schedule row bg-body-tertiary p-3 rounded-2">
            <div class="col-lg-8 col-12 ">
                <h6><b>Schedule Token: G210032E</b></h6>
                <h6><b>Date: 18-08-2023</b></h6>
                <h6><b>Game: Table Tennis</b></h6>
                <h6><b>Board: 03</b></h6>
                <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
            </div>
        </div>
    </div>

</body>

</html>