<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room || Student</title>
    <link rel="icon" href="images/uiuLogo.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/studentHistoryPage.css">
    <script src="js/bootstrap.bundle.min.js" defer></script>
</head>


<body>

    <%-include('studentNavbar.ejs')%>

        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-sm-4 col-12 p-2 justify-content-center">
                    <div class="schedule bg-body-tertiary p-3 rounded-2 text-center">
                        <h1><b>23</b></h1>
                        <h3><b>TOTAL</b></h3>
                    </div>
                </div>

                <div class="col-sm-4 col-12 p-2 justify-content-center">
                    <div class="schedule bg-body-tertiary p-3 rounded-2 text-center text-success">
                        <h1><b>07</b></h1>
                        <h3><b>THIS MONTH</b></h3>
                    </div>
                </div>

                <div class="col-sm-4 col-12 p-2 justify-content-center">
                    <div class="schedule bg-body-tertiary p-3 rounded-2 text-center text-danger">
                        <h1><b>01</b></h1>
                        <h3><b>BANNED</b></h3>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-12 p-3">
                    <h5 class="text-center">All Reservation History</h5>
                </div>
            </div>
            <div class="schedule row bg-body-tertiary p-3 rounded-2">
                <div class="col-lg-8 col-12 ">
                    <h6><b>Schedule Token: G210032E</b></h6>
                    <h6><b>Date: 18-08-2023</b></h6>
                    <h6><b>Game: Table Tennis</b></h6>
                    <h6><b>Board: 03</b></h6>
                    <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
                </div>
            </div>
        </div>

</body>

</html>