<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room || Student</title>
    <link rel="icon" href="/images/uiuLogo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/studentHistoryPage.css">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js/logOutBtn.js" defer></script>
</head>


<body>

    <%-include('studentNavbar.ejs')%>

        
</body>
</html>