<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UIU Game Room Reservation || Student</title>
  <link rel="icon" href="/images/uiuLogo.png">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/studentTTReservation.css">
  <script src="/js/bootstrap.bundle.min.js" defer></script>
</head>

<body>

  <%-include('studentNavbar.ejs')%>

  <div class=container>
    <div>
      <h1 class="h1-cl d-flex mt-5 formTopMargin mb-3">Chess</h1>
    </div>
    <div>
      <form class="d-flex">
        <input type="date" class="form-control me-4 date " type="search" placeholder="select date" aria-label="Search">
        <select class="form-select board form-control me-4" aria-label="Default select example">
          <option value="" disabled selected hidden>Select Board</option>
          <option value="1">Board 01</option>
          <option value="2">Board 02</option>
          <option value="3">Board 03</option>
        </select>
        <button class="btn btn-color" type="submit">Search</button>
    </div>
  </div>
</body>

</html>