<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UIU Game Room Reservation || Student</title>
  <link rel="icon" href="../public/images/uiuLogo.png">
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/studentHomePage.css">
  <script src="../public/js/bootstrap.min.js" defer></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navBody fixed-top">
    <div class="container">
      <a class="navbar-brand textColor" href="#">UIU Game Room Reservation System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link textColor" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reservation
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Table Tennis</a></li>
              <li><a class="dropdown-item" href="#">Chess</a></li>
              <li><a class="dropdown-item" href="#">Carrom</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link textColor" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container formTopMargin">
    <div class="text-left">
      <div class="row">
        <div class="col-lg-7 col-12">
          <p class="mb-3"><b >Upcoming Schedule</b></p>
          <div class="schedule row bg-body-tertiary p-3 rounded-2">
            <div class="col-lg-8 col-12 ">
              <h6><b>Schedule Token: T100023B</b></h6>
              <h6><b>Date: 25-08-2023</b></h6>
              <h6><b>Game: Table Tennis</b></h6>
              <h6><b>Board: 02</b></h6>
              <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-column">
              <h6 class="text-secondary"><b>2 days to go</b></h6>
              <div class="mt-auto">
                <button type="button" class="btn btn-danger">Cancel Reservation</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="mt-3"><b>Last Month Schedule</b></p>
            </div>
            <div class="col text-lg-end text-end">
              <h6 class="mt-3"><a href="#">See All</a></h6>
            </div>
          </div>
          <div class="schedule row bg-body-tertiary p-3 rounded-2">
            <div class="col-lg-8 col-12 ">
              <h6><b>Schedule Token: G210032E</b></h6>
              <h6><b>Date: 18-08-2023</b></h6>
              <h6><b>Game: Table Tennis</b></h6>
              <h6><b>Board: 03</b></h6>
              <h6><b>Schedule: 12:00 pm - 12:30 pm</b></h6>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-12 p-5">
          <div class="row">
            <div class="card text-lg-end rounded-circle">
              <img src="../public/images/BG.png" class="rounded-circle" width="288" height="288">
            </div>
          </div>
          <div class="row">
            <h5><b>Name: MD Sakib Al Hasan</b></h5>
            <h5><b>Email: sahasan211000@uiu.ac.bd</b></h5>
            <h5><b>ID: 011211000</b></h5>
            <h6><a href="#">Upload Profile Picture</a></h6>
            <h6><a href="#">Change Password</a></h6>
          </div>
      </div>
    </div>
  </div>

</body>

</html>