<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room Reservation System</title>
    <link rel="stylesheet" href="../public/css/studentTTReservationPage2.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/homepage.css">
    <link rel="stylesheet" href="../public/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="../public/js/logOutBtn.js">
</head>
<body>
    <nav class="navbar navbar-expand-lg navBody fixed-top">
        <div class="container">
          <a class="navbar-brand textColor" href="#">UIU Game Room Reservation System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
              <li class="nav-item">
                <a class="nav-link active textColor" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active textColor" aria-current="page" href="#">Reservation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textColor" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 



    <div class=container>
      <div>
        <h1 class="h1-cl d-flex mt-5 formTopMargin mb-3 m-2">Table Tennis</h1>
      </div>

        <div>
          <form class="d-flex">
            <span class="form-control d-block p-2 date me-4">21-10-23</span>
            <span class="form-control d-block p-2 date me-4">01</span>        
            <button class="btn btn-color" type="submit">Search</button>
            <form>
          </div>
  

      <div class="container formTopMargin mt-3">
        <div class="row row-cols-4 ">
          <div class=" grid m-5"><b>09.00 - 09.30</b></div>
          <div class=" grid m-5"><b>09.30 - 10.00</b></div>
          <div class=" grid m-5"><b>10.00 - 10.30</b></div>
          <div class=" grid m-5"><b>10.30 - 11.00</b></div>
          <div class=" grid m-5"><b>11.00 - 11.30</b></div>
          <div class=" grid m-5"><b>11.30 - 12.00</b></div>
          <div class=" grid m-5"><b>12.00 - 12.30</b></div>
          <div class=" grid m-5"><b>12.30 - 01.00</b></div>
          <div class=" grid m-5"><b>01.00 - 01.30</b></div>
          <div class=" grid m-5"><b>01.30 - 02.00</b></div>
          <div class=" grid m-5"><b>02.00 - 02.30</b></div>
          <div class=" grid m-5"><b>02.30 - 03.00</b></div>
          <div class=" grid m-5"><b>03.00 - 03.30</b></div>
          <div class=" grid m-5"><b>03.30 - 04.00</b></div>
          <div class=" grid m-5"><b>04.00 - 04.30</b></div>
        </div>
        <div class="text-center">
        <button class="btn btn-color2 formTopMargin mt-3" type="submit"><b>Reserve</b></button>
        </div>
      </div>
</body>
</html>