<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Game Room Reservation || Student</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">   
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/studentHomePage.css">
    <script src="../public/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #FD7E14 ;">
        <div class="container">
            <a class="navbar-brand" href="#">UIU Game Room Reservation System</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reservation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Logout</a>
                </li>
              </ul>
        </div>
    </nav>

    <div class="container text-left">
      <div class="row">
        <div class="col-lg-7 col-12">
          Column
        </div>
        <div class="col-lg-5 col-12">
          Column
        </div>
      </div>
    </div>



</body>

</html>