body {
  background-color: #f6f6f6;
}

.navBody {
  background-color: #fd7e14 !important;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.textColor {
  color: #ffffff !important;
}

.formTopMargin {
  margin-top: 90px !important;
}

input {
  background-color: #d9d9d9 !important;
}

.btn-color {
  background-color: #fd7e14 !important;
  color: #ffffff;
  width: 200px;
}

.btn-color:hover {
  border-color: #fd7e14;
  background-color: #d9d9d9;
  color: #fd7e14;
  width: 200px;
}

.btn-danger{
  width: 150px;
}

.btn-danger:hover{
  border-color: #FF0000;
  background-color: #d9d9d9;
  color: #FF0000;
  width: 150px;
}

.btn-success {
  width: 150px;
}

.btn-success:hover{
  border-color: #067A27;
  background-color: #d9d9d9;
  color: #067A27;
  width: 150px;
}

.schedule {
  background-color: #d9d9d9 !important;
}

.card {
  width: 18rem !important;
  border: none;
  margin: 50px;
}

h6 a {
  text-decoration: none;
  color: #3792c4;
  cursor: pointer;
}
