body{
    background-color:#F6F6F6;
}

.navBody{
    background-color: #FD7E14 !important;
}

.textColor{
    color: #FFFFFF !important;
}

.date{
    background-color: #D9D9D9 !important;
    width: 1080px !important;
}

.btn-color{
    background-color: #FD7E14 !important;
    color: #FFFFFF !important;
    width: 200px !important;
}

.btn-color-up{
    background-color: #067A27 !important;
    color: #FFFFFF !important;
    width: 100px;
}

.btn-color-del{
    background-color: #FF0000 !important;
    color: #FFFFFF !important;
    width: 100px;
}

.text1{
    background-color: #D9D9D9;
    padding-top: 10px;
}

.text2{
    background-color: #D9D9D9;
}