body{
    background-color:#F6F6F6;
}

.navBody{
    background-color: #FD7E14 !important;
}

.textColor{
    color: #FFFFFF !important;
}
.fromTopmargin{
    color: #FD7E14 !important


}
.Name{
    background-color: #D9D9D9 


}

.btn {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: #fd7e14;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}