h2{  
    color: #fd7e14
}

h3{
    color: #fd7e14;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* border-radius: 5px; */
}
body{
    background: #f6f6f6;
}

.form-bg{
    background: #ffffff
    ;

}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.btn1{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: #fd7e14;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}
.form-button{
    display: inline;
    justify-content-between
}