body{
    background-color:#F6F6F6;
}

.navBody{
    background-color: #FD7E14 !important;
}

.textColor{
    color: #FFFFFF !important;
}

.h1-cl{
    color: #fd7e14;
}

.formTopMargin{
    margin-top: 80px !important;
}

.date{
    background-color: #D9D9D9;
    width: 500px;
}
.board{
    background-color: #D9D9D9;
    width: 500px;
}
.btn-color{
    background-color: #FD7E14;
    color: #FFFFFF;
    width: 200px;
}