body {
  background-color: #f6f6f6;
}

.navBody {
  background-color: #fd7e14 !important;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.textColor {
  color: #ffffff !important;
}

.formTopMargin {
  margin-top: 90px !important;
}

.schedule{
  background-color: #d9d9d9 !important;
}

.card {
    width: 18rem !important;
    border: none;
    margin: 50px;
}

h6 a {
  text-decoration: none;
  color: #3792C4;
  cursor: pointer;
}