h2{
    
    color: #fd7e14
}

h3{
    color: #fd7e14;

}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: rgb(219, 226, 226);
}
.form-bg{
    background: white;

}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.btn1{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: #fd7e14;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}
